<!doctype html>
<html lang="en" layout:decorate="~{layouts/base}"
			xmlns:th="http://thymeleaf.org"
			xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Album - [[${album.title}]]</title>
</head>
<body>
<div layout:fragment="content">
	<div class="mt-4 w-full flex justify-center items-center text-3xl font-semibold text-blue-800" th:text="${album.title}"></div>
	<div th:replace="fragments/add_image_form :: add_image_form">Add Image Form</div>
	<div th:replace="fragments/image_grid :: image_grid">Image Grid</div>
	<div th:replace="fragments/image_details :: image_details">Image Details</div>
</div>
</body>
</html>