<!doctype html>
<html lang="en" layout:decorate="~{layouts/base}"
			xmlns:th="http://thymeleaf.org"
			xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Home</title>
</head>
<body>
<div layout:fragment="content">
	<div class="mt-12 w-full flex justify-center">
		<div class="text-3xl font-semibold text-gray-800">
			Project for the exam of Web Technologies
		</div>
	</div>
	<div class="mt-12 w-full flex justify-center">
		<div class="text-xl text-gray-800">
			Check the code here: <a class="text-blue-400 transition-default hover:text-blue-300" target="_blank" href="https://github.com/icomad/image-gallery">Github Repository</a>
		</div>
	</div>
</div>
</body>
</html>