<!doctype html>
<html lang="en" layout:decorate="~{layouts/base}"
			xmlns:th="http://thymeleaf.org"
			xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="#{signin}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="w-full flex justify-center">
			<div class="w-full md:w-1/2 mt-12 rounded p-4 shadow-xl flex flex-col bg-blue-600">
				<div class="text-xl border-b-2 border-gray-200 mb-8 p-2 text-gray-200" th:text="#{signin}"></div>
				<form th:action="@{/signin}" method="post">
					<input type="text" name="username" placeholder="Username" class="w-full rounded p-2 mb-2" required />
					<input type="password" name="password" placeholder="Password" class="w-full rounded p-2 mb-2" required />
					<input type="submit" class="bg-transparent text-gray-200 cursor-pointer outline-none btn btn-blue" th:value="#{confirm}" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>