<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>
<div class="mt-6 w-full flex justify-center" th:fragment="add_album_form">
	<div class="rounded p-2 shadow-xl flex flex-col justify-start bg-blue-600">
		<div class="text-xl border-b-2 border-gray-200 mb-4 p-1 text-gray-200" th:text="#{newAlbum}"></div>
		<form th:action="@{/albums}" method="post" class="flex justify-between items-center">
			<input type="text" name="title" th:placeholder="#{albumTitle}" class="rounded p-2 flex-grow mr-4" required />
			<input type="submit" class="bg-transparent text-gray-200 cursor-pointer outline-none btn btn-blue" th:value="#{confirm}" />
		</form>
	</div>
</div>
</body>
</html>