<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
	<header th:fragment="navbar" class="header">
		<nav>
			<div class="container mx-auto">
				<div class="w-full flex justify-between items-center">
					<a th:href="@{/}" class="brand-logo" th:text="#{brand}">Image Gallery</a>
					<div class="flex-grow ml-6">
						<a th:href="@{/dashboard}" class="btn btn-blue" th:if="${session.user}" th:text="#{dashboard}">Dashboard</a>
					</div>
					<div class="flex">
						<a th:href="@{/signout}" class="btn btn-blue" th:if="${session.user}" th:text="#{signout}">Sign Out</a>
						<a th:href="@{/signin}" class="btn btn-blue mr-3" th:unless="${session.user}" th:text="#{signin}">Sign In</a>
						<a th:href="@{/signup}" class="btn btn-blue" th:unless="${session.user}" th:text="#{signup}">Sign Up</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>