<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>
<div th:if="${success}" class="mt-5 flex w-full justify-center items-center" th:fragment="success_message">
	<div class="w-1/2 rounded bg-green-400 text-gray-200 flex flex-col justify-start items-stretch shadow">
		<div class="p-2 rounded flex justify-between items-center bg-green-700">
			<span class="flex-grow font-bold" th:text="#{successHeader}"></span>
			<button class="alert-delete transition-default hover:text-green-400"><i class="fas fa-times"></i></button>
		</div>
		<div class="flex-grow px-2 py-4" th:text="#{${success}}"></div>
	</div>
</div>
</body>
</html>